<p>Click on the books below to get details on it!</p>
<div class="bk">
    {{#each books}}
     <br> 
     <br>
     
     <a class="bk" href="/books/{{bookNumber}}">{{bookName}}</a>{{/each}}
</div>